* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: rgb(221, 247, 255);
}

#root {
  padding-top: 70px;
}

nav {
  height: 70px;
  width: 100%;
  background: darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 15px; */
  position: fixed;
  top: 0;
  left: 0;
}

.navLinks > a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.navLinks {
  padding-right: 20px;
}

.puppyLogo {
  color: white;
  padding-left: 20px;
}

img {
  width: 180px;
  padding-bottom: 10px;
}

.playersWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playerContainer {
  width: 300px;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singlePlayerWrapper {
  display: flex;
  justify-content: center;

  align-items: flex-start;
}

.singlePlayerContainer {
  width: 430px;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singlePlayerContainer > img {
  width: 400px;
}

.singlePlayerContainer > p {
  margin: 5px;
}

.formWrapper {
  padding-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
  gap: 5px;
}

form > input {
  border: 1px solid lightgray;
  padding: 3px;
  border-radius: 3px 3px;
  width: 220px;
}

#formSubmit {
  border: none;
  padding: 5px;
  width: 170px;
  background: rgb(0, 139, 70);
  color: white;
  border-radius: 6px 6px;
}

#formSubmit:hover {
  background: rgb(0, 88, 34);
}
